<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../js/fontaswsome.js"></script>
    <script type="text/javascript">
        const logedin = <%= logedin %>;
    </script>
    <link rel="stylesheet" href="../css/style.css">
    <title>دل نوشته ها - رساتو</title>
</head>
<body>
    <header>
        <h1>دل نوشته ها</h1>
        <h2>رساتو - رسانه من و تو</h2>
    </header>
    <div class="menu">
        <ul>
            <li><a href="/">خانه</a></li>
            <% if (!logedin) { %>
            <li><a href="/login">ورود</a></li>
            <li><a href="/signup">ثبت نام</a></li>
            <% } else { %>
            <li><a href="/myposts">پست های من</a></li>
            <li><a href="/compose">پست جدید</a></li>
            <li><a href="/logout">خروج</a></li>
            <% } %>
        </ul>
    </div>
    <div class="container">